.container-fluid{
    margin-top: 12vw;
}
body{
    color:white;
}
@media (max-width:575px){
    .container-fluid{
        padding-top: 20vw;
    }
}
#circ1, #circ2, #circ3{
    margin-right: 2%;
}
#circ1{
    background-color: white;
}
.col-xs-4{
    transition: transform 1s;
    text-align: center;
    font-size: 2vw;
    background-color: transparent;
    border: solid white 0.08vw;
    width: 31%;
    border-radius: 20px;
    margin: 1%;
    font-family:'loveloblack';
    animation: color-change-3x 5s ease-in-out infinite alternate;
}
.cuerpo{
    padding-left: 4vw;
    padding-right: 4vw;
    
}
@keyframes color-change-3x {
  0% {
    background: transparent;
  }
  100% {
    background: #020021 ;
  }
}
.jumbotron{
        background-color: transparent;
    
}
[name="listaEdit"]{
    list-style:none;
}
.col-xs-4:hover{
    transform: scale(1.1,1.1);
}
#moon{
        position:absolute;
        top:16vw;
        right:40.7%;
        width:20vw;
        height:20vw;
        border-radius:50%;
        background-color: #CCC;
        box-shadow:0px 0px 600px #FFFF8C;
        z-index:-1;
        animation: moonAnimation 3s infinite,mover 60s infinite;
         opacity: 0.4;
    }
