body{
    color: white;
    font-family: 'breakbold';
    overflow: hidden;
}
#welcome{
    transition: transform 3s;
    font-size: 3vw;
    font-family: 'loveloblack';
}
.info{
    margin-left: 5%;
    font-size: 2vw;
    text-align: justify;
    font-family: 'loveloblack';
}
.fssd-info{
    margin-left: 5%;
    font-size: 3vw;
    text-align: justify;
    text-align: center;
    transition: transform 1s;
}
.container-fluid{
    position: relative;
    animation: centrar 8s;
    margin-top: -7vh;
}

.jumbotron{
    background-color: transparent;
}
#circ1, #circ2, #circ3{
    margin-right: 2%;
    transition: 1s;
}
#circ1{
    background-color: white;
}

.tablas{
    padding-left: 4vw;
    padding-right: 4vw;
    list-style:none;
}

.col-xs-4{
    transition: transform 1s;
    text-align: center;
    font-size: 2vw;
    background-color: transparent;
    border: solid white 0.08vw;
    width: 31%;
    border-radius: 20px;
    margin: 1%;
    font-family:'loveloblack';
    animation: color-change-3x 5s
 ease-in-out infinite alternate;
}


.moon{
    position:absolute;
    top:16vw;
    right:40.7%;
    width:20vw;
    height:20vw;
    border-radius:50%;
    background-color: #CCC;
    box-shadow:0px 0px 600px #FFFF8C;
    z-index:-1;
    animation: moonAnimation 3s infinite,mover 60s infinite;
     opacity: 0.4;
}

.ticket{
    font-family: loveloblack; 
    text-align: justify; 
    font-size: 2vw; 
    background-color: transparent;
    padding: 0.2vw;
    border-radius: 5px;
    margin-left: 15vw;
    
}
.ticket-item{
    display: inline-block;
    animation: ticket 20s infinite;
    animation-timing-function: linear;
    white-space: nowrap;
}
.cursos{
    float: left;
    max-width: 50%;
    text-align: center;
}
.cursos img{
    width: 90%;
}
/*--------------ANIMACIONES----------*/
.fssd-info:hover{
    transform: translateY(-2.5vh);
}

#circ1:hover, #circ2:hover, #circ3:hover{
    transform: translateY(-0.7vw);
}
@keyframes color-change-3x {
    0% {
      background: transparent;
    }
    100% {
      background: #020021 ;
    }
  }

.col-xs-4:hover{
    transform: scale(1.05,1.05);
}
@keyframes ticket{
0%{
    transform: translate3d(0,0,0);
}
50%{
    transform: translate3d(-50%,0,0);
}
100%{
    transform: translate3d(0,0,0);
}
}
.ticket-item:hover{
    animation-play-state: paused;
}
#welcome:hover{
    transform: scale(1.1,1.1);
    text-decoration: underline;
    }
/*--------------Colpasables---------------------*/

.collapsible {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('../images/colaps.jpg');
    background-position: top;
    background-size: cover;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5vw;
    color: white;
    box-shadow: 0px 0px 5px 1px #380038;
    transition: transform 3s;
    font-family: 'loveloblack';
  }
  
  .collapsible:hover {
    background-color: rgb(101, 117, 146) ;
    transform: scale(1.05,1.05);
  }

  .content {
    text-align: justify;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: solid 2px white;
    color: white;
    font-size: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .collapsible:after {
    font-weight: bold;
    float: right;
    margin-left: 5px;
    color: black;
  }
  .back2{
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('/style/images/backs/back2.jpg');
    background-size: cover;
    background-position: center;
    padding: 5vw;
  }