body{
    min-height: 200vh;
}
.container{
    margin-top: 15vh;
    color: white;
    font-family: loveloblack;
    min-width: 70%;
    animation: centrar 8s forwards;
    position: relative;
}
.presentacion{
    border-top: solid 2px gray;
    border-bottom: solid 2px gray;
    padding-bottom: 5vh;
}
#welcome{
    transition: transform 1s;
    font-size: 2vw;
}
.info{
    margin-left: 5%;
    font-size: 2vw;
    text-align: justify;
}

.moon {
    position: absolute;
    top: 16vw;
    right: 40.7%;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-image: url("../images/moon.jpg");
    background-position: -10vw;
    background-size: 40vw;
    background-color: #CCC;
    box-shadow: 0px 0px 600px #FFFF8C;
    z-index: -1;
    animation: moonAnimation 3s infinite, passingBy 20s infinite;
    opacity: 0.4;
}

/*--------------Colpasables---------------------*/

.collapsible {
    background-position: center;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5vw;
  }
  
  .collapsible:hover {
    background-color: rgb(101, 117, 146) ;
  }
  .back{
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('../images/back.jpg');
    background-size: cover;
    background-position: center;
  }
  .back2{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('../images/back2.jpg');
    background-size: cover;
    background-position: center;
  }
  .content {
    text-align: justify;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: solid 2px white;
    color: white;
    font-size: 2vw;
  }
  .collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
    color: black;
  }
  .active:after {
    content: "\2212";
  }


/*-----------------Animaciones-----------------*/
#welcome:hover{
transform: translateY(-2.5vh);
transform: scale(1.2,1.2);
text-decoration: underline;
}

@keyframes passingBy {
    0% {
        transform: translate(-75vw, 30vh);
    }
    50%{
        transform: translate(0vw, 5vh);
    }
    100% {
        transform: translate(75vw,30vh);

    }
}
@keyframes centrar {
    0% {
        top: 50px;
    }
    100% {
        top: 0px;
    }
}
@media (min-width:576px){
    /*--------------SCROLLBAR----------------*/
    
    ::-webkit-scrollbar {
        width: 1.5vw;
        min-width: 20px;
    }
    
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
     ::-webkit-scrollbar-thumb {
        background: #666;
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background: #444;
    }
    }